/*
    Primary Color: #574FB4;
*/

/* ================================== GLOBALS ================================== */

* {
  font-family: "Inter", sans-serif;
}

body {
  width: 80%;
  margin: 0px auto;
  min-width: 1024px;
}
p, h2 {
  margin: 0;
  padding: 0;
}


/* ================================== HEADER ================================== */

.bg-primary {
  background-color: #574fb4;
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #574fb4;
  font-weight: 400;
  color: white;
  background-color: #574fb4;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn-outline-light {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  margin: 0px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #574fb4;

  font-weight: 700;
  border: 1px solid #574fb4;
}

.offer-banner {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.offer-banner > p {
  padding: 0px 30px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.9);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  height: 100px;
  /* background-color: blueviolet; */
}

.logo > p {
  text-align: center;
  font-weight: 700;
  font-size: 11px;
}

nav {
  width: 75%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.nav {
  display: flex;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* unvisited link */
.nav_list > a:link {
  color: black;
}

/* visited link */
.nav_list > a:visited {
  color: black;
}

/* mouse over link */
.nav_list > a:hover {
  color: #574fb4;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

/* selected link */
.nav_list > a:active {
  /* background-color: #574fb4; */
  color: blue;
}

.nav_item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 14px;
  /* width: 130px; */
  height: 40px;
  padding: 0px 5px;
  /* border: 1px solid black; */
  transition: 0.2s ease;
}

.nav_item > svg {
  margin-right: 5px;
}

.active {
  color: #574fb4;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
  border-bottom: 3px solid #574fb4;
}

.user_basket_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.user_basket_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}

.user_basket_item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  height: 40px;
  padding: 0px 3px;
  flex: 1;
  transition: 0.2s ease;
}

.user_basket_item > svg {
  margin: 0px 5px;
}

/* unvisited link */
.user_basket_list > a:link {
  color: black;
}

/* visited link */
.user_basket_list > a:visited {
  color: black;
}

/* mouse over link */
.user_basket_list > a:hover {
  color: #574fb4;
  font-weight: bold;
}

/* selected link */
.user_basket_list > a:active {
  /* background-color: #574fb4; */
  color: blue;
}

/* ================================== MAIN ================================== */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60%;
  height: 40px;
}

.search_input {
  width: 75%;
  height: 75%;
  border: 2px solid #574fb4;
  border-radius: 25px;
  padding: 0px 10px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}

.search_input:focus-visible {
  outline: none;
}

.search_btn {
  text-align: center;
  width: 40px;
  height: 40px;
  border: 2px solid #574fb4;
  border-radius: 25px;
  background-color: transparent;
  color: #574fb4;
  margin: 0px 10px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease;
}

.search_btn:hover {
  background-color: #574fb4;
  color: #ffffff;
  border-color: none;
}

.offers_banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px auto;
  width: 100%;
  height: 280px;
  /* border: 1px solid black; */
}

.card_offer {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-columns: 55% 45%;
  grid-template-rows: 75% 25%;
  grid-template-areas:
  "l r"
  "f f";
  width: 320px;
  height: 220px;
  background-color: #574fb4;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.card_offer:hover {
  transform: scale(1.05);
}

.card_offer_main_left {
  background-color: #574fb4;
  border-radius: 5px 0px 0px 0px;
  grid-area: l;
}
.card_offer_main_left > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 0px;
  object-fit: cover;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  
  .card_offer_main_right {
    background-color: #574fb4;
    border-radius: 0px 5px 0px 0px;
    grid-area: r;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
  }
  .card_offer_main_right > h3 {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
    margin: 0px;
  }
  .card_offer_main_right > p {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  }
  
  .card_offer_main_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #383280;
  border-radius: 0px 0px 5px 5px;
  grid-area: f;
}

.nav_title_banner {
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  
  position: relative;
}

.nav_title_banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px 75%;
  opacity: 0.5;
}
.nav_title_banner > h2 {
  position: absolute;
  font-weight: 700;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
}

.products_grid_section {
  width: 80%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: repeat(3, 350px);
  /* Rows | Columns */
  grid-gap: 20px 10px;
  margin: 20px auto;
}

.card_product {
  position: relative;
  width: 250px;
  height: 320px;
  min-width: 250px;
  min-height: 300px;
  border: 2px solid #574fb4;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.card_product:hover {
  transform: scale(1.02);
}

.card_img_and_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card_product_img {
  width: 90%;
  height: 65%;
  /* padding: 10px; */
  /* margin: 15px; */
  background-color: #d3d3d3;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* margin: 10px; */
}

.card_product_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card_product_info {
  /* margin-top: 30px; */
  font-weight: 800;
  font-size: 14px;
  padding: 10px;
}

.card_product_price_and_buy {
  display: flex;
  align-items: flex-end;
  width: 100%;
  /* height: 25%; */
  /* margin-bottom: 10px; */
}

.card_product_price {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 10px;
}

.card_product_price > p {
  font-size: 18px;
  font-weight: bold;
}

/* =================== Precio con 2x1 =================== */

.card_product_banner_2x1 {
  width: 50%;
  height: 40px;
  position: absolute;
  top: 25px;
  left: -25px;
  transform: rotate(-45deg);
  background-color: #34BE31;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_product_banner_2x1 > p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
} 

/* =================== Precio con descuento CLUB =================== */

.card_product_banner_club {
  width: 50%;
  height: 40px;
  position: absolute;
  top: 25px;
  left: -25px;
  transform: rotate(-45deg);
  background-color: #ff6a00;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_product_banner_club > p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
} 

.card_product_price_club {
  width: 40%;
  /* margin: 5px; */
  padding: 10px;

} 

.card_product_price_club > p {
  padding: 2px;
  font-weight: 800;
  text-decoration: line-through;
}

.card_product_price_club_discount {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
  /* height: 90%; */
  border: 2px solid #FF6B00;
  border-radius: 5px;
  padding: 2px;
  font-weight: 800;

}
.card_product_price_club_discount > p:first-child {
  color: #FF6B00;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
  align-self: self-start;

}

/* =================== Precio con descuento PREMIUM =================== */




.card_product_banner_premium {
  width: 50%;
  height: 40px;
  position: absolute;
  top: 25px;
  left: -25px;
  transform: rotate(-45deg);
  background-color: #E74646;
  box-shadow: 4px 0px 4px rgb(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_product_banner_premium > p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
} 

.card_product_price_premium {
  width: 40%;
  /* margin: 5px; */
  padding: 10px;

} 

.card_product_price_premium > p {
  padding: 2px;
  font-weight: 800;
  text-decoration: line-through;
}

.card_product_price_premium_discount {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 90%;
  /* height: 90%; */
  border: 2px solid #E74646;
  border-radius: 5px;
  padding: 2px;
  font-weight: 800;

}
.card_product_price_premium_discount > p:first-child {
  color: #E74646;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
  align-self: self-start;

}


.card_product_buy {
  display: flex;
  align-items: end;
  flex: 1;
  justify-content: space-evenly;
  padding: 10px;
}
.card_product_buy > p {
  font-size: 12px;
  width: 60%;
  font-weight: 800;
}

.btn_product_buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #574fb4;
  border: 2px solid #574fB4;
  border-radius: 50px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn_product_buy:hover {
  background-color: #ffffff;

}
.btn_product_buy:hover > svg {
  stroke: #574fB4;
}

/* ================================== FOOTER ================================== */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 60px;
  background-color: #574fB4;
}